html {
    scroll-behavior: smooth;
}

body{
    font-family: Arial, sans-serif;
}

input {
    height: 40px;
    text-align: center;
    border: 2px solid #79818c;
    background: none;
    border-radius: 5px;
    color: #79818c;
    font-size: 13px;
    padding: 0px 15px;
    margin: 58px 14px 0px 14px;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #344051;
    /* position: fixed;  */
    z-index: 1000;
}

h4 {
    text-align: center;
}

.logo{
    color: #fff;
    font-size: 18px;
    line-height: 60px;
    float: left;
    animation: comming 2.8s ease;
}

.menu{
    float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    animation: topshift 0.2s ease forwards;
    opacity: 0;
}

.menu li a{
    transition: all 0.2s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited{
    color: #fff;
}

.menu li a:hover{
    color: #d17700;
}

.menu li a:active{
    transform: scale(1.1);
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.6s;
}

.menu li:nth-child(4) {
    animation-delay: 0.8s;
}

.menu li:nth-child(5) {
    animation-delay: 1.0s;
}

.menu li:nth-child(6) {
    animation-delay: 1.2s;
}

.menu li:nth-child(7) {
    animation-delay: 1.4s;
}

.menu li:nth-child(8) {
    animation-delay: 1.6s;
}

.menu li:nth-child(9) {
    animation-delay: 1.8s;
}

main{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat; 
}

.title__container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4ms;
}

.title__container h1{
    font-family: Arial, sans-serif;
    font-size: 72px;
    font-weight: 600;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818c;
}

.title__container input, .about input{
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover, .about input:hover, .contacts .form .send input:hover{
    background: #344051;
    color: #fff;
}

.title__container input:active, .about input:active{
    transform: scale(1.1);
}

h3{
    display: inline-block;
    color: #263244;
    width: 100%;
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;
    font-size: 22px;
    padding-bottom: 30px;
    font-weight: bold;
}

h3::after {
    content: "";
    display: block;
    width: 70px;
    padding-top: 30px; 
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid #d17700;
}

.about{
    margin-bottom: 100px;
}

.about .photo{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/photo.jpg) no-repeat center;
    margin-bottom: 25px;
}

.about .description{
    margin-bottom: 40px;
}

.about input {
    margin-left: auto;
    margin-right: auto;
    flex-basis: 150px;
}

.knows {
    background: url(../img/bgknow.jpg) ;
    background-attachment: fixed;
}

.knows ul{
    display: flex;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 40px;
}

.knows ul li .img{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 50px;
}

.knows ul li.first .img{
    background: url(../img/1.png) no-repeat center;
}

.knows ul li.second .img{
    background: url(../img/2.png) no-repeat center;
}
.knows ul li.third .img{
    background: url(../img/3.png) no-repeat center;
}
.knows ul li.four .img{
    background: url(../img/4.png) no-repeat center;
}

.knows ul li .title{
    color: #cf7600;
    font-weight: bold;
    margin-bottom: 20px;
}

.cases{
    width: 100%;
    color: #354051;
}

.cases .item {
    display: flex;
}

.cases .img {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.cases .items .item_website{
    margin-top: 5px;
}

.cases .items .item_description{
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
}

.cases .items .item_description .live{
    margin: 0;  
    margin-top: 22px;
    background: #63b5ae;
    border: none;
    color:#fff;
}

.cases .items span {
    display: block;
    font-weight: normal;
    margin-top: 5px;
}

.cases .items .item__projectname{
    text-align: left;
    padding-left: 85px;
    font-weight: bold;
}

.cases .items input{
    margin: 0;
    margin-top: 20px;
}

.cases .items input:hover{
    background:#d17700;
}

.cases .items input:active{
    transform: scale(1.1);
}

.costs {
    width: 100%;
    padding-bottom: 150px;
}

.costs form {
    margin-left: auto;
    margin-right: auto;
}

.costs form .form__item .item__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 22px;
}

.costs form .form__item select{
    padding: 15px;
    background: #eeeeee;
    width: 100%;
    color: #737373;
    margin-bottom: 45px;
    border-radius: 5px;
}

.costs form .form__item select:hover{
    background:#d17700;
    color: #fff;
}

.costs form p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 22px;
}

.costs form p span{
    float: right;
}

.statistics {
    background: url(../img/bgstat.jpg);
    background-attachment: fixed;
}

.statistics ul{    
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    text-align: center;
}

.statistics ul li, .knows ul li {
    transition: all 0.3s ease;
}

.statistics ul li:hover, .knows ul li:hover  {
    transform: scale(1.3);    
}

.statistics ul li .img{
    width: 65px;
    height: 65px;
    margin: auto;
    margin-bottom: 30px;
}

.statistics ul li.first .img{
    background: url(../img/5.png) no-repeat center;
}

.statistics ul li.second .img{
    background: url(../img/6.png) no-repeat center;
}
.statistics ul li.third .img{
    background: url(../img/7.png) no-repeat center;
}
.statistics ul li.four .img{
    background: url(../img/8.png) no-repeat center;
}
.statistics ul li .count,
.statistics ul li .title{
    color: #323d4f;
    font-weight: bold;
    margin-bottom: 20px;
}

.statistics ul li .count{
    font-size: 32px;
}

.feedback{
    margin-bottom: 100px;
}

.feedback .img{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/gen.png) no-repeat 50%;
    transition: all 0.5s ease;
}

.feedback .img:hover    {
    transform: scale(1.3);    
}

.feedback .description{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: #243042;
    text-align: center;
}

.feedback .title {
    color: #243042;
    text-align: center;
}

.feedback .title span{
    font-weight: bold;
}

.contacts{
    background: url(../img/bgcontacts.jpg) center;
    color: #fff;
}

.contacts h3{
    color: #fff;
}

.contacts .description{
    text-align: center;
}

.contacts ul{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.contacts ul li{
    color: #fff;
    display: inline-block;
    width: 250px;
}

.contacts ul li .img{
    width: 30px;
    height: 30px;
    margin: auto;
    margin-bottom: 10px;
}
.contacts ul li.first .img{
    background: url(../img/9.png) no-repeat;
}

.contacts ul li.second .img{
    background: url(../img/10.png) no-repeat;
}
.contacts ul li.third .img{
    background: url(../img/11.png) no-repeat;
}

.contacts .form {
    text-align: center;
}

.contacts .form p {
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
}

.contacts .form p input {
    flex-basis: 350px;
    background-color: #d2d5db;
    border: none;
    border-radius: 0;
    text-align: left;
    margin-bottom: 15px;
}

.contacts .form p textarea {
    resize: none;
    height: 95px;    
    flex-basis: 730px;
    background-color: #d2d5db;
    padding-top: 10px;
    padding-left: 10px;
}

.contacts .form .send {
    width: 120px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 100px;
    margin-bottom: 10px;
    color: #fff;
    border: #fff 1px solid;
    text-align: center;
    border-radius: 5px;
}

.maps {
    height: 350px;
}

footer{
    height: 95px;
    background-color: #354051;
}

footer h5{
    display: block;
    color: #fff;
    text-align: center;
    line-height: 95px;
}

@keyframes comming {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes topshift {
    from{
        opacity: 0;
        margin-top: -80px;
    }

    to{
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes titlemove {
    from{
        opacity: 0;
        margin-left: -500px; 
    }

    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.white-btn{
    color: white;
}

@media (max-width: 991px){
    h3 {
        margin-top: 30px;
    }
    input {
        margin: 0;
    }

    .title__container, .title__container h4, .title__container input{
        color: #fff;
        position: relative;
        z-index: 3;
    }

    .title__container input{
        border: 2px solid #fff;
    }

    .main{
        position: relative;
    }

    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }

    .knows ul{
        margin-top: 0;
    }

    .contacts .form p textarea {
        flex-basis: 350px;
    }
}

@media (max-width: 766px) {
    .knows ul, .statistics ul{
        flex-direction: column;
        padding: 0;
    }

    .knows ul li, .statistics ul li {
        margin-bottom: 30px;
    }
    
    .knows ul li .img{
        margin-bottom: 0;
    }

    .cases .item {
        flex-direction: column;
    }

    .cases .items .item__projectname {
        padding-left: 0px;
    }
}